{% extends 'Layout/default.twig' %}

{% block container %}
	
	<div class="wellcome">
		<h3>
			Bem vindo ao meu teste para Requisito RH.
		</h3>	

		<p>Para começar clique no botão abaixo!</p>

		<a class="btn btn-outline-dark" href="{{ base_url() }}/incidentes/listar" role="button">Começar</a>
	</div>

{% endblock %}